body{
    background-color: rgb(245, 243, 243);
    background-image: linear-gradient(to right bottom, rgba(0%, 0%, 0%, 0%), rgba(0%, 0%, 0%, 0%)), url(https://ssl.tzoo-img.com/images/tzoo.32041.0.749190.IrelandHero.jpg?width=1201&spr=1.5);
    transform: scale(1);
}
.signup_section{
    width: 40%;
    height: 115vh;
    background-color: #fff;
    z-index: 2;
    border-radius: 5px;
    position: absolute;;
    left: 30%;
    top: 7px;
    transition: all .3s;
    opacity: .8;
    margin-bottom: 10px;
    
}

.nav_img{
    position: relative;
    width: 17rem;
    top: 3rem;
    left: 7rem;
}
.nav_text{
    position: relative;
    left: 8.5rem;
    top: 4rem;
    font-size: 1.2rem;
    
}
.info{
    position: relative;
    top: 8rem;
    left: 3rem;
}
.input_box{
    width: 24rem;
    height: 2.2rem;
    border-radius: 5px;
    overflow: hidden;
}
.input_content{
    margin-bottom: 5px;
    font-size: 1.3rem;
    color: gray;
}
.last_input{
    top: 2rem;
    position: relative;
}
.btn{
    position: relative;
    top: 5rem;
    width: 24rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: rgb(0, 153, 255);
    border-radius: 1rem;
    box-shadow: 2px 2px 2px gainsboro;
    color: #fff;

}
